# Segmenting and Clustering Neighborhoods in Toronto

**This Notebook will explore and cluster the neighborhoods in Toronto**

**Scraping data from Wikipedia Page**

In [2]:
import requests 
website_url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text

from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')

In [5]:
My_table = soup.find('table',{'class':'wikitable sortable'})

In [6]:
Postcode = []
Borough = []
Neighbourhood = []

for row in My_table.findAll('tr'):
    cells = row.findAll('td')
    if len(cells)==3: #Only extract table body not heading
        Postcode.append(cells[0].find(text=True))
        Borough.append(cells[1].find(text=True))
        Neighbourhood.append(cells[2].find(text=True))

In [8]:
import pandas as pd
df=pd.DataFrame()
df['PostalCode']=Postcode
df['Borough']=Borough
df['Neighbourhood']=Neighbourhood
df.head()

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned     Not assigned

1        M2A      Not assigned     Not assigned

2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [10]:
df1 = df[df.Borough != 'Not assigned']
df1.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [11]:
df2 = df1.groupby("PostalCode").agg(lambda x:','.join(set(x)))
df2.head()

                Borough                         Neighbourhood
PostalCode
M1B         Scarborough                         Malvern,Rouge
M1C         Scarborough  Rouge Hill,Highland Creek,Port Union
M1E         Scarborough     Morningside,West Hill,Guildwood\n
M1G         Scarborough                                Woburn
M1H         Scarborough                           Cedarbrae\n

In [12]:
df2.shape

(103, 2)